---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
const { extPageTitle } = Astro.props;
const { showExtPageTitle } = Astro.props;
const { gap } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>2025 Richmnn | {pageTitle}</title>
  </head>
  <body>
    <main class="flex w-full justify-center">
      <div style={`gap: ${gap}vh`} class={`w-[320px] md:w-[610px] flex flex-col py-[64px]`}>
        <NavBar
          pageTitle={pageTitle}
          showExtPageTitle={showExtPageTitle}
          extPageTitle={extPageTitle}
        />
        <slot />
        <Footer showHr={true} />
      </div>
    </main>
  </body>
</html>
